# deployment.j2
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ app_name }}-deployment
spec:
  replicas: {{ replicas }}
  selector:
    matchLabels:
      app: {{ app_name }}
  template:
    metadata:
      labels:
        app: {{ app_name }}
    spec:
      containers:
      - name: {{ app_name }}
        image: {{ image_name }}:{{ image_tag }}
        ports:
        - containerPort: {{ container_port }}
        # --- 核心资源配置 ---
        resources:
            requests:
               cpu: {{cpu}}        # 最小请求 0.5 核（保障调度）
               memory: {{memory}}    # 最小请求 128MB（JVM 初始堆内存）
            limits:
                cpu: {{cpu_limit}}       # 最大限制 1 核（防止 CPU 过载）
                memory: {{memory_limit}}    # 最大限制 1GB（避免 OOM 被终止）[6,8]

        env:
          {% for key, value in env_vars.items() %}
          - name: {{ key }}
            value: "{{ value }}"
          {% endfor %}