apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: canary-ui-ingress
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /  # 路径重写
spec:
  rules:
    - host: myapp.example.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: canary-ui-service
                port:
                  number: {{service_port}}