# ingress.j2
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: canary-ui-ingress
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /  # 路径重写
spec:
  rules:
    - host: myapp.local.com
      http:
        paths:
          - path: /api
            pathType: Prefix
            backend:
               service:
                 name: canary-server-service  # 将API请求路由到新服务
                 port:
                   number: 80
          - path: /
            pathType: Prefix
            backend:
              service:
                name: canary-ui-service
                port:
                  number: 80